body {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2vh;
}

.wrap-style {
  padding: 10px;
  color: grey;
  background: white;
  font-family: "Roboto Mono", monospace;
}
